

    </div>
</div>

<footer class="footerbar">
    <div class="footsocials">
      <a href="/pages/aboutme"><img src="../assets/coffee-2-128.png"></a>
      <div class="footname">
        <a href="/pages/aboutme">About me</a>
      </div>
    </div>
    <div class="footsocials">
        <a href="https://www.linkedin.com/in/johnson-cho/"><img src="../assets/linkedin-3-128.png"></a>
        <a href="https://github.com/Johnson-MintyC"><img src="../assets/github-11-128.png"></a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
</body>
</html>