* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

body {
    background-image: url(https://static8.depositphotos.com/1007388/887/i/600/depositphotos_8873703-stock-photo-texture-a-sheet-of-the.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* navbar */

.search-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #4F3E2F;
}

header a:hover {
    color: #E5CA9D
}

.canvaLogOut {
    display: flex;
    justify-content: end;
}

h1 {
    color: #4F3E2F;
    text-align: center;
}

h2 {
    color: #4F3E2F;
    text-align: center;
}

.card-results {
    display: flex;
    flex-wrap: wrap;
    width: 1fr;
    text-align: center;
}

.card {
    width: 100%;
    height: auto;
    background-color: #E5CA9D;
    color: #4F3E2F;
}

.card a {
    text-decoration: none;
    color: #4F3E2F;
}

.card a:hover {
    text-decoration: none;
}

h3 {
    text-align: center;
} 

.btn-primary {
    --bs-btn-bg: #E5CA9D;
    --bs-btn-border-color: #E5CA9D;
    --bs-btn-hover-bg: #4F3E2F;
    --bs-btn-hover-border-color: #E5CA9D;
    --bs-btn-active-bg: #4F3E2F;
    --bs-btn-active-border-color: #4F3E2F;
    --bs-btn-focus-shadow-rgb: 229, 202, 157;
}

.btn-secondary {
    --bs-btn-bg: #4F3E2F;
    --bs-btn-border-color: #4F3E2F;
    --bs-btn-hover-bg: #E5CA9D;
    --bs-btn-hover-border-color: #4F3E2F;
    --bs-btn-active-bg: #E5CA9D;
    --bs-btn-active-border-color: #E5CA9D;
    --bs-btn-focus-shadow-rgb: 79, 62, 47;
}
/* search */
.searchback {
    display: flex;
    justify-content: center;
}

/* show page */
.coffeemaininfo img {
    width: 100%;
}

.userDelete {
    display: flex;
    justify-content: center;
}

.userEdit{
    display: flex;
    justify-content: center;
}

.showrating {
    display: flex;
    justify-content: center;
}

.showrating img {
    width: 2rem;
}

@media (min-width: 600px) {
    header .nav-anc a {
        color: #E5CA9D;
        align-items: center;
    }
    .nav-anc {
        display: flex;
        align-items: center;

    }
}