* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

body {
    background-image: url(https://static8.depositphotos.com/1007388/887/i/600/depositphotos_8873703-stock-photo-texture-a-sheet-of-the.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* navbar */

.search-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbutton {
    display: flex;
    justify-content: end;
}

.searchinput {
    margin-bottom: 1rem;
} 

header a {
    text-decoration: none;
    color: #4F3E2F;
}

header a:hover {
    color: #E5CA9D
}

.nav-anc-1, .nav-anc-2 {
    margin-bottom: 2rem;
}

.canvaLogOut {
    margin-top: 6rem;
}

h1 {
    color: #4F3E2F;
    text-align: center;
}

h2 {
    color: #4F3E2F;
    text-align: center;
}

/* Cards */

.card-results {
    display: flex;
    flex-wrap: wrap;
    width: 1fr;
    text-align: center;
}

.card {
    width: 100%;
    height: auto;
    background-color: #E5CA9D;
    color: #4F3E2F;
}

.cardimg {
    max-height: 10rem;
}

.card a {
    text-decoration: none;
    color: #4F3E2F;
}

.card a:hover {
    text-decoration: none;
}

h3 {
    text-align: center;
} 

.btn-primary {
    --bs-btn-bg: #E5CA9D;
    --bs-btn-border-color: #E5CA9D;
    --bs-btn-hover-bg: #4F3E2F;
    --bs-btn-hover-border-color: #E5CA9D;
    --bs-btn-active-bg: #4F3E2F;
    --bs-btn-active-border-color: #4F3E2F;
    --bs-btn-focus-shadow-rgb: 229, 202, 157;
}

.btn-secondary {
    --bs-btn-bg: #4F3E2F;
    --bs-btn-border-color: #4F3E2F;
    --bs-btn-hover-bg: #E5CA9D;
    --bs-btn-hover-border-color: #4F3E2F;
    --bs-btn-active-bg: #E5CA9D;
    --bs-btn-active-border-color: #E5CA9D;
    --bs-btn-focus-shadow-rgb: 79, 62, 47;
}
/* search */
.searchback {
    display: flex;
    justify-content: center;
}

/* show page */
.coffeemaininfo img {
    width: 100%;
}

.userDelete {
    display: flex;
    justify-content: center;
}

.userEdit{
    display: flex;
    justify-content: center;
}

.showrating {
    display: flex;
    justify-content: center;
}

.showrating img {
    width: 2rem;
}

@media (min-width: 600px) {
    .navbigscreen {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    header .nav-anc-1 a, header .nav-anc-2 a {
        color: #E5CA9D;
        align-items: center;
    }
    .nav-anc-1, .nav-anc-2 {
        display: flex;
        align-items: center;
        margin-bottom: 0
    }
    
    .search-block {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-bottom: 0;
    }

    .searchinput {
        margin-bottom: 0;
    } 

    .canvaLogOut {
        margin-top: 0;
    }
    
    .navbar-brand {
        display: flex;
        justify-content: center;
    }

    .nvalogin {
        grid-column: 2/3;
    }

    /* card */
    .card {
    width: 25%
    }

    /* show */

    .showimg {
        display: flex;
        justify-content: center;
    }

    .beaninfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coffeeprep {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .flavorlist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .usercomments {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .coffeemaininfo img{
        width: 50%;
    }

    .showrating img {
        width: 8%;
    }

    /* myjournal */

    .myjournalsearchblock {
        width: 50%;
        margin: 0 auto;
    }

    /* login */
    .biglogin {
        width: 40%;
        margin: 0 auto;
    }

    /* signup */
    .bigsignup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}