<%- include("../partials/head.ejs") %>
<h1>About Me</h1>
<p>
    Hi, I'm Johnson, the creator of this app. This app came to be from my hobby of trying to brew myself a good cup of coffee.
    <br>
    Sometimes its consistency, sometimes its finding out and tracking the best way to use your newly purchased beans.
    <br>
    Feel free to use this app, I'm a new Software Dev and this was created as a project, so check out my other apps by checking out the footer links.
</p>
<%- include("../partials/foot.ejs") %>