<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class="form-container">
        <h1>Sign Up</h1>
      
        <div class="flash-messages">
          <% if (messages.success) { %>
            <% for (let msg of messages.success) { %>
              <p class="success"><%= msg %></p>
            <% } %>
          <% } %>
          <% if (messages.info) { %>
            <% for (let msg of messages.info) { %>
              <p class="info"><%= msg %></p>
            <% } %>
          <% } %>
          <% if (messages.error) { %>
            <% for (let msg of messages.error) { %>
              <p class="error"><%= msg %></p>
            <% } %>
          <% } %>
        </div>
      
        <form action="<%= baseUrl %>" method="post">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
          <input class="button button-primary" type="submit" value="Sign Up" />
        </form>
      </div>
</body>
</html>